/* main Stylesheet for SetList application */

body {
    font-size: 3em;
}
#inputData, #inputSubmit {
    margin-top: 0.6em;
}

.entry {
    border: 1px solid silver;
    padding: 0.3em;
    margin-bottom: 0.3em;
    page-break-inside: avoid;
}
.song {
    font-weight: bold;
}
.instrument, .sheet {
    font-family: sans-serif;
    padding: 0.1em;
    border: 1px solid #333;
    border-radius: 0.25em;
}
.remark {
    font-style: italic;
}
.chords {
    font-size: 1.5em;
}

/* header */
#outTitle {
    font-size: 1.5em;
}

/* optional songs */
#outMoreTitle {
    page-break-before: always;
}
#outMore .entry {
    border: 1px dashed;
}

a:link, a:visited {
    color: blue;
}

@media print {
    .no-print {
        display: none !important;
    }
    a:link, a:visited {
        color: black;
    }
}
